export PROXMOX_VE_ENDPOINT=https://proxmox.example.com:8006/
export PROXMOX_VE_USERNAME=terraform-prov@pve
export PROXMOX_VE_PASSWORD=password
export PROXMOX_VE_SSH_USERNAME=root
export PROXMOX_VE_SSH_PASSWORD=password
export TF_VAR_vm_username=ubuntu
export TF_VAR_vm_password=password
export TF_VAR_ssh_import_id=gh:username
export TF_VAR_ssh_authorized_keys=""
