# pve
pve_node           = "pve01"
datastore_iso      = "local"
datastore_snippets = "local"
datastore_vmdisk   = "local-lvm"
initial_vmid       = 1000

# vm
cpu         = 3
memory      = 3072
file_format = "qcow2"
disk_size   = "32"
isoimg_url  = "https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img"
